[Unit]
Description=WACE core service to communicate WAF with ML models.
After=network.target

[Service]
Type=simple
Environment=GOGC=10
Environment=GOMAXPROCS=1
Restart=always
ExecStart=/usr/bin/wace /etc/wace/waceconfig.yaml

[Install]
WantedBy=multi-user.target
